{% extends 'base.html.twig' %}

{% block title %}New Availability{% endblock %}

{% block body %}
    <h1>Create new Availability</h1>

    {{ include('availability/_form.html.twig') }}

    <a href="{{ path('availability_index') }}">back to list</a>
{% endblock %}
