{% extends 'base.html.twig' %}

{% block title %}New Traveller{% endblock %}

{% block body %}
    <h1>Create new Traveller</h1>

    {{ include('traveller/_form.html.twig') }}

    <a href="{{ path('traveller_index') }}">back to list</a>
{% endblock %}
