{% extends 'base.html.twig' %}

{% block title %}New House{% endblock %}

{% block body %}
    {{ include('house/_form.html.twig') }}

    <a href="{{ path('house_index') }}">back to list</a>
{% endblock %}
