{% extends 'base.html.twig' %}

{% block body %}
<style>
    .brand-logo{
        width: 2em;
        height: 100%;
        background-image: url("{{ asset('imgs/logo-white.svg') }}");
        background-position: center;
        background-size: 1em auto;
        background-repeat: no-repeat;
    }

    nav li > a{
        font-weight: bold;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

<div class="index">
    <nav>
        <div class="nav-wrapper amber lighten-1">
            <a href="/" class="brand-logo">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/signup_owner">Devenir hôte</a></li>
                <li><a href="/signup_traveller">Inscription</a></li>
                <li><a href="/login">Connexion</a></li>
            </ul>
        </div>
    </nav>
    <div class="container row">
        <div class="col s10">
            <ul class="tabs ">

            </ul>
        </div>
    </div>
</div>

    {% thumbnail media, 'small' %}
{% endblock %}
